<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.overc1ock.mapper.PurchaseOrderMapper">

<select id="completelist" resultType="com.overc1ock.domain.PpDTO">
    SELECT
      item.item_code,
      item.item_name,
      item_use_plan.consumption,
      procurement_plan.pp_code,
      procurement_plan.procurement_date,
      procurement_plan.pp_date,
      products_production_plan.production_date,
      products_production_plan.process,
      procurement_plan.po_code
    FROM item
    INNER JOIN item_use_plan ON item.item_code = item_use_plan.item_code
    INNER JOIN procurement_plan ON item_use_plan.iup_code = procurement_plan.iup_code
    INNER JOIN products_production_plan ON item_use_plan.ppp_code = products_production_plan.ppp_code
  	where procurement_plan.pp_status = 0;	
    <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
      AND pp_date BETWEEN DATE(#{startDate}) AND DATE(#{endDate}) + 1
    </if>
    <if test="item_name != null and item_name != ''">
      AND item_name LIKE CONCAT('%', #{item_name}, '%')
    </if>
</select>

	<select id="contractlist" resultType="com.overc1ock.domain.ContractDTO"> 
	select *
	from contract
	where contract.item_code = #{code}	  
	</select>
	

	<select id="printlist"  resultType="com.overc1ock.domain.ContractDTO">
  select *
  from contract
  join (
      SELECT
      item.item_code,
      item.item_name,
      item_use_plan.consumption,
      procurement_plan.pp_code,
      procurement_plan.procurement_date,
      procurement_plan.pp_date,
      products_production_plan.production_date,
      products_production_plan.process,
      procurement_plan.po_code
    FROM item
    INNER JOIN item_use_plan ON item.item_code = item_use_plan.item_code
    INNER JOIN procurement_plan ON item_use_plan.iup_code = procurement_plan.iup_code
    INNER JOIN products_production_plan ON item_use_plan.ppp_code = products_production_plan.ppp_code
    where procurement_plan.pp_status = 0  and item.item_code = #{code}
  ) t1 on contract.item_code = t1.item_code 
  where contract.contract_code = #{code2}
</select>

<update id="printupdate" parameterType="com.overc1ock.domain.PoDTO">
update procurement_plan set po_code = #{po_code}  where pp_code = #{pp_code}
</update>


	<insert  id="enterpo" useGeneratedKeys="true" keyProperty="po_code" parameterType="com.overc1ock.domain.PoDTO">
	insert into purchase_order(delivery_place,delivery_tel,delivery_person,ex_works,inspection_method,payment,po_text) 
	values(#{delivery_place},#{delivery_tel},#{delivery_person},#{ex_works},#{inspection_method},#{payment},#{po_text})
	</insert >
	
		<insert  id="enterpo" useGeneratedKeys="true" keyProperty="po_code" parameterType="com.overc1ock.domain.PoDTO">
	insert into purchase_order(delivery_place,delivery_tel,delivery_person,ex_works,inspection_method,payment,po_text) 
	values(#{delivery_place},#{delivery_tel},#{delivery_person},#{ex_works},#{inspection_method},#{payment},#{po_text})
	</insert >
	
	

	<insert  id="enterpojoin" parameterType="com.overc1ock.domain.PoDTO">
insert into contract_has_purchase_order(contract_code,po_code) values(#{contract_code},#{po_code});
	</insert >

	<select id="pilist" resultType="com.overc1ock.domain.PiDTO">
      select purchase_order.po_date, purchase_order.po_code, item.item_code, item.item_name, contract.subcontractor_name, progress_inspection.pi_status, progress_inspection.pi_code
      from item
      inner join contract on item.item_code = contract.item_code
      inner join contract_has_purchase_order on contract.contract_code = contract_has_purchase_order.contract_code
      inner join purchase_order on contract_has_purchase_order.po_code = purchase_order.po_code
      inner join progress_inspection on purchase_order.po_code = progress_inspection.po_code order by item_code
    <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
      AND po_date BETWEEN DATE(#{startDate}) AND DATE(#{endDate}) + 1
    </if>
    <if test="item_name != null and item_name != ''">
      AND item_name LIKE CONCAT('%', #{item_name}, '%')
    </if>
	</select>
	
	<update id="piupdate" >
	update progress_inspection set progress_inspection.pi_status = 1 where po_code = #{pocode};
	</update>
	
	
	<select id="pislist" resultType="com.overc1ock.domain.PisDTO">
	SELECT progress_inspection_schedule.pis_code,progress_inspection_schedule.pi_code,progress_inspection_schedule.pis_name, progress_inspection_schedule.pis_date, 
	progress_inspection_schedule.employee_name, progress_inspection_schedule.completion_rate, progress_inspection_schedule.pis_text
	FROM progress_inspection_schedule
	<where>
	progress_inspection_schedule.pi_code = #{pi_code}
	</where> 
	</select>
	
	<update id="pistext" parameterType="com.overc1ock.domain.PisDTO">
	update progress_inspection_schedule set pis_text = #{pis_text} where pis_code = #{pis_code}
	</update>

<insert id="pisinput" parameterType="com.overc1ock.domain.PiDTO">
insert into progress_inspection_schedule(pis_name,pis_date,employee_name,pi_code) values (#{pis_name},#{pis_date},#{employee_name},(SELECT pi_code FROM progress_inspection WHERE pi_code = '#{pi_code}))
</insert>
	
<insert id="beforepisinput" parameterType="com.overc1ock.domain.PiDTO">
  INSERT INTO progress_inspection (po_code)
  SELECT #{po_code}
</insert>
	
	
	
	<select id="closelist" resultType="com.overc1ock.domain.CloseDTO">
       select purchase_order.po_code ,item.item_name,purchase_order.delivery_place,purchase_order.payment ,purchase_order.delivery_person, purchase_order.po_date, purchase_order.close_status
      from item
      inner join contract on item.item_code = contract.item_code
      inner join contract_has_purchase_order on contract.contract_code = contract_has_purchase_order.contract_code
      inner join purchase_order on contract_has_purchase_order.po_code = purchase_order.po_code
      inner join progress_inspection on purchase_order.po_code = progress_inspection.po_code
	  <where>
    <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
      AND po_date BETWEEN DATE(#{startDate}) AND DATE(#{endDate}) + 1
    </if>
    <if test="item_name != null and item_name != ''">
      AND item_name LIKE CONCAT('%', #{item_name}, '%')
    </if>
  		and progress_inspection.pi_status = 1
  </where>
	</select>
	
	<update id="closelist2" >
	  UPDATE purchase_order
	  SET close_status = 1
	  WHERE po_code = #{pocode}
	</update>
	
	
	
	<select id="contractlistCount"  resultType="int">
  SELECT COUNT(*) AS row_count
    FROM item
    INNER JOIN item_use_plan ON item.item_code = item_use_plan.item_code
    INNER JOIN procurement_plan ON item_use_plan.iup_code = procurement_plan.iup_code
    INNER JOIN products_production_plan ON item_use_plan.ppp_code = products_production_plan.ppp_code
  <where>
    <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
      AND pp_date BETWEEN DATE(#{startDate}) AND DATE(#{endDate}) + 1
    </if>
    AND procurement_plan.pp_status = 0 and procurement_plan.po_code is null
    </where>
	</select>
	
	<select id="closecount"  resultType="int">
	SELECT COUNT(*) AS data_count
	FROM item
	INNER JOIN contract ON item.item_code = contract.item_code
	INNER JOIN contract_has_purchase_order ON contract.contract_code = contract_has_purchase_order.contract_code
	INNER JOIN purchase_order ON contract_has_purchase_order.po_code = purchase_order.po_code
	INNER JOIN progress_inspection ON purchase_order.po_code = progress_inspection.po_code
		<where>
	  <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
	    AND po_date BETWEEN DATE(#{startDate}) AND DATE(#{endDate}) + 1
	  </if>
	  and progress_inspection.pi_status = 1 and  purchase_order.close_status = 0
	</where>	
	</select>
	
		<select id="closecount2"  resultType="int">
	SELECT COUNT(*) AS data_count
	FROM item
	INNER JOIN contract ON item.item_code = contract.item_code
	INNER JOIN contract_has_purchase_order ON contract.contract_code = contract_has_purchase_order.contract_code
	INNER JOIN purchase_order ON contract_has_purchase_order.po_code = purchase_order.po_code
	INNER JOIN progress_inspection ON purchase_order.po_code = progress_inspection.po_code
	<where>
	  <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
	    AND po_date BETWEEN DATE(#{startDate}) AND DATE(#{endDate}) + 1
	    </if>
	  and progress_inspection.pi_status = 1 and  purchase_order.close_status = 1
	</where>	
	</select>
	
	<select id="pilistcount1" resultType="int">
      select COUNT(*) AS data_count
      from item
      inner join contract on item.item_code = contract.item_code
      inner join contract_has_purchase_order on contract.contract_code = contract_has_purchase_order.contract_code
      inner join purchase_order on contract_has_purchase_order.po_code = purchase_order.po_code
      inner join progress_inspection on purchase_order.po_code = progress_inspection.po_code
		<where>
		  <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
		    AND po_date BETWEEN DATE(#{startDate}) AND DATE(#{endDate}) + 1
		  </if>
		  <if test="item_name != null and item_name != ''">
		    AND item_name LIKE CONCAT('%', #{item_name}, '%')
		  </if>
		  AND progress_inspection.pi_status = 0
		</where>
	</select>
	
		<select id="pilistcount2" resultType="int">
      select COUNT(*) AS data_count
      from item
      inner join contract on item.item_code = contract.item_code
      inner join contract_has_purchase_order on contract.contract_code = contract_has_purchase_order.contract_code
      inner join purchase_order on contract_has_purchase_order.po_code = purchase_order.po_code
      inner join progress_inspection on purchase_order.po_code = progress_inspection.po_code
	  <where>
	    <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
	      AND po_date BETWEEN DATE(#{startDate}) AND DATE(#{endDate}) + 1
	    </if>
	    <if test="item_name != null and item_name != ''">
	      AND item_name LIKE CONCAT('%', #{item_name}, '%')
	    </if>
	    AND progress_inspection.pi_status = 1
	  </where>
	</select>
	
	

    
</mapper>